
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page no found</title>
    <!-- HEAD CODE-->
    <%- include('head'); %>

  </head>
  <!-- Body-->
  <body>
    <!-- Template Customizer-->


    <!-- Off-Canvas Category Menu-->


    <!-- Off-Canvas Mobile Menu-->


    <!-- Topbar-Navbar -->


    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Content-->
      <div class="container padding-top-3x padding-bottom-3x mb-1"><img class="d-block m-auto" src="img/404_art.jpg" style="width: 100%; max-width: 550px;" alt="404">
        <div class="padding-top-1x mt-2 text-center">
          <h3>Pagina No Encontrada</h3>
          <p>Parece que no podemos encontrar la página que estás buscando.<a href="/">Volver a la página principal</a><br>O intente usar la búsqueda en la esquina superior derecha de la página.</p>
        </div>
      </div>

      <!-- Site Footer-->

    </div>

    <!-- Back To Top Button-->
    <a class="scroll-to-top-btn" href="#"><i class="feather-icon icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="js/vendor.min.js"></script>
    <script src="js/scripts.min.js"></script>
    <!-- Customizer scripts-->
    <!-- <script src="customizer/customizer.min.js"></script> -->
  </body>

</html>