<div class="offcanvas-container" id="shop-categories">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title">Menu Opciones</h3>
    </div>
    <nav class="offcanvas-menu">
      <ul class="menu">
        <li class="has-children"><span><a href="#">Productos</a><span class="sub-menu-toggle"></span></span>
          <ul class="offcanvas-submenu">
            <li><a href="/">Lista Productos</a></li>
            <li><a href="/products">Gestor Productos</a></li>
          </ul>
        </li>
      </ul>
    </nav>
</div>