<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar navbar-sticky">
    <!-- Search-->
    <form class="site-search" method="get">
        <input type="text" name="site_search" placeholder="Type to search...">
        <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="feather-icon icon-x"></i></span></div>
    </form>
    <div class="site-branding">
        <div class="inner">
        <!-- Off-Canvas Toggle (#shop-categories)-->
        <a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
        <!-- Off-Canvas Toggle (#mobile-menu)-->
        <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
        <!-- Site Logo-->
        <a class="site-logo" href="/"><img src="img/logo/logo.png" alt=""></a>
        </div>
    </div>
    <!-- Main Navigation-->

    <!-- Toolbar-->

</header>