<!-- Topbar-->
<div class="topbar">
    <div class="topbar-column"><a class="hidden-md-down" href="mailto:support@colabora.pe"><i class="feather-icon icon-mail"></i>&nbsp; support@colabora.pe</a><a class="hidden-md-down" href="tel:+51968067516"><i class="feather-icon icon-bell"></i>&nbsp; +51 968 067 516</a><a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
    </div>
    <div class="topbar-column">
        <!-- <a class="hidden-md-down" href="#"><i class="feather-icon icon-download"></i>&nbsp; Get mobile app</a> -->
        <div class="lang-currency-switcher-wrap">
        <!-- <div class="lang-currency-switcher dropdown-toggle"><span class="language"><img alt="English" src="img/flags/PE.png"></span><span class="currency">S/. NUEVO SOL</span></div> -->
        <!-- <div class="lang-currency-switcher"><span class="language"><img alt="Spanish" src="img/flags/PE.png"></span><span class="currency">S/. NUEVO SOL</span></div> -->
        <!-- <div class="dropdown-menu">
            <div class="currency-select">
            <select class="form-control form-control-rounded form-control-sm">
                <option value="usd">$ USD</option>
                <option value="usd">€ EUR</option>
                <option value="usd">£ UKP</option>
                <option value="usd">¥ JPY</option>
            </select>
            </div><a class="dropdown-item" href="#"><img src="img/flags/FR.png" alt="Français">Français</a><a class="dropdown-item" href="#"><img src="img/flags/DE.png" alt="Deutsch">Deutsch</a><a class="dropdown-item" href="#"><img src="img/flags/IT.png" alt="Italiano">Italiano</a>
        </div> -->
        </div>
    </div>
</div>